[submodule "gameplaycolor"]
	path = gameplaycolor
	url = https://github.com/gameplaycolor/gameplaycolor
[submodule "IodineGBA"]
	path = IodineGBA
	url = https://github.com/taisel/IodineGBA
[submodule "XAudioJS"]
	path = XAudioJS
	url = https://github.com/taisel/XAudioJS.git
[submodule "GameBoy-Online"]
	path = gameplaycolor/cores/GameBoy-Online
	url = https://github.com/jbmorley/GameBoy-Online
	